<section class="container my-5 w-75 mx-auto">
  <h2 class="text-main fw-bold mb-4">Login Now</h2>

  @if (errorMessage) {
    <div class="alert alert-danger py-2 mb-3">{{ errorMessage }}</div>
  }

  <form [formGroup]="signinForm" (ngSubmit)="handleLogin()">
    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control" />
      @if (signinForm.get('email')?.touched && signinForm.get('email')?.errors) {
        <div class="text-danger font-sm mt-1">
          @if (signinForm.get('email')?.getError('required')) { Email is required }
          @else if (signinForm.get('email')?.getError('email')) { Invalid email format }
        </div>
      }
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control" />
      @if (signinForm.get('password')?.touched && signinForm.get('password')?.errors) {
        <div class="text-danger font-sm mt-1">
          Password is required
        </div>
      }
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <a routerLink="/signup" class="text-muted text-decoration-none">Don't have an account? Sign Up</a>
      <button [disabled]="signinForm.invalid || isLoading" class="btn bg-main text-white">
        @if (isLoading) { <i class="fa-solid fa-spinner fa-spin"></i> } @else { Login }
      </button>
    </div>
  </form>
</section>
